@import 'variables';

.cafe-section {
    padding-top: 50px;
    overflow: hidden;
    
    * {
        z-index: 10;
    }
    
    .green-light-circle {
        top: 10px !important;
        left: 0;
        z-index: 1;
    }
    
    &-title {
        font-weight: 800;
        font-size: 80px;
        color: $white;
        margin-bottom: 54px;
    }
    
    &-description {
        font-size: 20px;
        line-height: 33px;
        color: $light;
        margin-bottom: 54px;
    }
    
    &-buttons {
        &-select {
            border: 1px solid #121517;;
            outline: none;
            background: linear-gradient(265.23deg, #237249 0%, #35C66B 100%);
            border-radius: 83px;
            color: $white;
            font-weight: 800;
            font-size: 24px;
            padding: 20px 79px;
        }
        
        &-more {
            background: #121517;
            border-radius: 83px;
            padding: 20px 55px;
            font-size: 24px;
            color: $light;
        }
    }
    
    &-stats {
        
        &-item {
            width: 107px;
            display: inline-block;
            flex-grow: 0;
        }
        
        &-number {
            color: $white;
            font-weight: 400;
            font-size: 62px;
            line-height: 68px;
        }
        
        &-plus {
            color: #35C66B;
        }
        
        &-description {
            color: $light;
            font-size: 20px;
            line-height: 29px;
        }
    }
    
    &-art {
        width: 450px;
        height: 670px;
        position: relative;
        top: -60px;
        left: 30px;
    }
    
    &-lines {
        width: 910px;
        position: absolute;
        top: 150px;
        z-index: 1;
    }
    
    .green-circle {
        top: 270px;
        right: 70px;
        z-index: 1;
    }
    
    &-features {
        position: relative;

        .we_have {
            position: absolute;
            top: -100px;
            left: -100px;
        }

        display: flex;
        justify-content: space-between;
        gap: 140px;
        background: linear-gradient(264.52deg, #FFFFFF 4.95%, #E5E5E5 64.19%, #FBFBFB 88.37%);
        border-radius: 46px;
        padding: 36px 80px;
        margin-top: 105px;
        
        .green-bg {
            width: 148px;
            height: 148px;
            background: linear-gradient(267.2deg, #237249 3.05%, #35C66B 75.72%);
            border-radius: 50%;
            margin: 10px auto;
        }

        &-container {
            width: 208px;
            text-align: center;
        }

        &-container:nth-child(1) img {
            position: relative;
            bottom: 13px;
            left: 5px;
        }

        &-container:nth-child(2) img {
            position: relative;
            bottom: 8px;
            right: 28px;
        }
        
        &-container:nth-child(3) img {
            height: 150px;
            position: relative;
            top: 8px;
            right: 32px;
        }
        
        &-image {
            height: 183px;
            // position: absolute;
        }
        
        &-title {
            color: $dark;
            font-size: 32px;
            line-height: 52px;
        }
        
        &-description {
            color: $dark;
            font-size: 20px;
            line-height: 32px;
        }
    }
}